.text-inBorder {
    border-bottom: 1px solid rgba(0,0,0,.125);
    p {
        text-align: center;
        margin: 0 auto;
        width: 50px;
        margin-bottom: -12px;
        background-color: #FFF;
    }
}